<div class="modal-header">
    ENTER NEW NAME:
    <div class="alert alert-warning">
        <small><i class="fa fa-warning"></i> When renaming an image, please retain the "_size.jpg". Eg. (myfile_large.jpg rename to: myNewName_large.jpg)</small>
    </div>
</div>
<div class="modal-body">
    <input data-ng-model="newName" type="text" class="form-control">
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-xs" data-ng-click="ok()">OK</button>
    <button class="btn btn-warning btn-xs" data-ng-click="cancel()">Cancel</button>
</div>